/* .form{

    margin-top: 124px !important;

    margin-left: 478px !important;

}

.logo{

    margin-bottom: 3px !important;

}

.font-weight-normal{

    font-size: 1.15rem;

    margin-bottom: 4px !important;

}

.para-1{

    font-size: 0.67rem;

}

.input-group{

    margin-left: 10px;

}

.fa{

    font-size: 7px !important;

    padding-top: 2px !important;

}

#inputEmail,#inputPassword{

    font-size: 10px;

    width: 247px;

    flex:none;

}

.pass,#inputPassword{

    margin-top: 2px;

    height: 37px;

}

.checkbox{

    text-align: left;

    font-size: 0.67rem;

    margin-left: 10px;

    margin-top: 10px;

    margin-bottom: 4px !important;

}

.forgot{

    margin-right: 10px;

    margin-top: 1px;

}

.btn{

    font-size: 10px;

    width: 278px;

    height: 36px;

    border-radius: 0rem;

}

hr{

    margin-top: 23px;

    margin-bottom: 16px;

}

.rights{

    font-size: 0.55rem;

} */
.css_for_image{
    height: 225px;
    width: 369px;
}
.header_login{
width:70px;
}

.container_css{
    width: 70%;
}
.mb-2{
  
    margin-top: 30px;
}